/* Estilos generales */
* {
    -fx-padding: 5px;
}

.root, .tab-pane, .tab-header-area{
    -fx-background-image: url("../img/background2.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position:center;
}

/* Contenedor de la encuesta */
.grid-pane {
    -fx-alignment: center;
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
    -fx-spacing: 10px; /* Espacio uniforme entre elementos */
}

.label{
    -fx-font-family: Arial;
    -fx-font-size: 15 px;
    -fx-font-weight: bold;
    -fx-text-fill: #4e4e4e;
}

/* Botones */
.button {
    -fx-background-color: #0078d4;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-border-radius: 6px;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0, 5, 5);
}

.button:hover {
    -fx-background-color: #005596;
    -fx-cursor: hand;
}

/* Radio Buttons */
.radio-button {
    -fx-padding: 5px;
}

/* ComboBox */
.combo-box {
    -fx-pref-width: 150px;
}

/* Sliders */
.slider {
    -fx-pref-width: 150px;
}

/* TabPane */
.tab-pane {
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
}

/* Tabs */
.tab {
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-min-height: 30;
}

.tab:hover{
    -fx-cursor: hand;
}


.tab .tab-label {
    -fx-padding: 0 10 5 10; /* Relleno en la parte inferior */
}

.focus-indicator {
    -fx-border-color: transparent;
}

/* Tab Content */
.tab-content {
    -fx-padding: 20px;
}

/* Choice Box */
.choice-box:hover{
    -fx-cursor: hand;
}

.scene{
    -fx-background-image: url("../img/background2.png");
}
/* IDs */
#iniciaEncuesta {
    -fx-font-size: 20px;
}

#errorCategoria {
    -fx-fill: red;
}

#bienvenida {
    -fx-text-alignment: center;
    -fx-font-size: 50px;
}

#categorias {
    -fx-font-size: 20px;
}
