/* Estilos generales */
* {
    -fx-padding: 5px;
}

/* Contenedor de la encuesta */
.grid-pane {
    -fx-alignment: center;
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
    -fx-background-image: url("../img/animales.jpeg");
    -fx-spacing: 10px; /* Espacio uniforme entre elementos */
}

.label{
    -fx-font-family: Arial;
    -fx-font-weight: Bold;
    -fx-font-size: 20px;
    -fx-text-fill: grey;
}

/* Botones */
.button {
    -fx-background-color: #0078d4;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-border: none;
    -fx-border-radius: 6px;
}

.button:hover {
    -fx-background-color: #a7a7a7;
    -fx-cursor: hand;
}

/* Radio Buttons */
.radio-button {
    -fx-padding: 5px;
}

/* ComboBox */
.combo-box {
    -fx-pref-width: 200px;
}

/* Sliders */
.slider {
    -fx-pref-width: 200px;
}

/* TabPane */
.tab-pane {
    -fx-background-color: #fff;
    -fx-border-radius: 10px;
}

/* Tabs */
.tab {
    -fx-background-color: #0078d4;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
}

/* Tab Content */
.tab-content {
    -fx-padding: 20px;
}
